# Supplementary Material: data statistics

In [1]:
import pandas as pd
import csv
import numpy as np

In [2]:
our_data = '../../preprocessed/reviews_master_no_text.csv'
our_df = pd.read_csv(our_data)

In [3]:
our_df.columns

Index(['company_id', 'date', 'employee_status', 'employee_title', 'helpful',
       'location', 'post_index', 'rating_overall', 'stress_post',
       'company_name', 'post_id', 'state', 'SEC filings', 'GICSSector',
       'GICSSubIndustry', 'Headquarters Location', 'Date first added', 'CIK',
       'Founded', 'Region', 'Division', 'quarter', 'half-year', 'year'],
      dtype='object')

In [4]:
our_df.head()

,company_id,date,employee_status,employee_title,helpful,location,post_index,rating_overall,stress_post,company_name,...,GICSSubIndustry,Headquarters Location,Date first added,CIK,Founded,Region,Division,quarter,half-year,year
0,1_comerica,Wed May 06 2020 07:27:34 GMT+0100 (British Sum...,Current Employee,Analyst,NaN,"Dallas, TX",1.0,5.0,0.0,comerica,...,Diversified Banks,"Dallas, Texas",01/12/1995,28412.0,NaN,South,West South Central,2020 Q2,2020 1st-half,2020
1,4_comerica,Tue Mar 10 2020 09:03:58 GMT+0000 (Greenwich M...,Former Employee,Customer Service Representative,NaN,"Dallas, TX",4.0,4.0,0.0,comerica,...,Diversified Banks,"Dallas, Texas",01/12/1995,28412.0,NaN,South,West South Central,2020 Q1,2020 1st-half,2020
2,7_comerica,Wed Mar 11 2020 22:53:11 GMT+0000 (Greenwich M...,Former Employee,Bank Teller,NaN,"Dallas, TX",7.0,2.0,0.0,comerica,...,Diversified Banks,"Dallas, Texas",01/12/1995,28412.0,NaN,South,West South Central,2020 Q1,2020 1st-half,2020
3,14_comerica,Tue Jan 28 2020 12:53:30 GMT+0000 (Greenwich M...,Former Employee,Senior Underwriter,NaN,"Houston, TX",14.0,4.0,0.0,comerica,...,Diversified Banks,"Dallas, Texas",01/12/1995,28412.0,NaN,South,West South Central,2020 Q1,2020 1st-half,2020
4,20_comerica,Sun Jan 12 2020 00:05:37 GMT+0000 (Greenwich M...,Former Employee,Commissioning Engineer,NaN,"Houston, TX",20.0,2.0,0.0,comerica,...,Diversified Banks,"Dallas, Texas",01/12/1995,28412.0,NaN,South,West South Central,2020 Q1,2020 1st-half,2020

In [5]:
our_df2 = our_df.copy()

In [6]:
len(list(our_df2['company_name'].unique()))

399

In [7]:
state_counts = our_df2.groupby(by=['state'])[['company_id', 'company_name']].nunique().reset_index().\
        sort_values(by=['company_id'], ascending=False).\
        rename(columns={'company_id':'number of reviews', 'company_name':'offices'})

print(state_counts.to_latex(index=False))

\begin{tabular}{lrr}
\toprule
state &  number of reviews &  offices \\
\midrule
   CA &              69968 &      340 \\
   TX &              43629 &      342 \\
   NY &              37515 &      313 \\
   IL &              25157 &      290 \\
   FL &              24082 &      283 \\
   GA &              17888 &      275 \\
   WA &              15672 &      239 \\
   NC &              14072 &      268 \\
   PA &              14064 &      271 \\
   OH &              12447 &      263 \\
   MA &              12355 &      253 \\
   AZ &              11834 &      228 \\
   NJ &              11561 &      245 \\
   VA &              11320 &      235 \\
   CO &               9408 &      249 \\
   MN &               8437 &      196 \\
   MI &               7953 &      237 \\
   MO &               7657 &      230 \\
   TN &               7165 &      221 \\
   OR &               6704 &      206 \\
   MD &               6610 &      207 \\
   IN &               5727 &      222 \\
   WI &               5006 &      181 \\
   CT &               4567 &      186 \\
   KY &               4224 &      190 \\
   UT &               3925 &      187 \\
   OK &               3772 &      174 \\
   DC &               3596 &      180 \\
   KS &               3459 &      169 \\
   SC &               3362 &      194 \\
   NV &               2815 &      163 \\
   LA &               2631 &      175 \\
   AL &               2546 &      171 \\
   DE &               2067 &      113 \\
   IA &               1849 &      133 \\
   RI &               1676 &      103 \\
   AR &               1666 &      149 \\
   NH &               1627 &      127 \\
   NE &               1564 &      139 \\
   ID &               1208 &      112 \\
   MS &               1138 &      127 \\
   NM &               1097 &      125 \\
   WV &                803 &      114 \\
   ME &                604 &      105 \\
   HI &                600 &       85 \\
   ND &                344 &       74 \\
   VT &                324 &       54 \\
   MT &                322 &       70 \\
   AK &                300 &       57 \\
   SD &                297 &       57 \\
   WY &                222 &       72 \\
\bottomrule
\end{tabular}

In [8]:
state_counts.corr()

                   number of reviews   offices
number of reviews           1.000000  0.775609
offices                     0.775609  1.000000

In [9]:
state_counts['log reviews'] = state_counts['number of reviews'].apply(np.log)

In [10]:
state_counts.corr()

                   number of reviews   offices  log reviews
number of reviews           1.000000  0.775609     0.753339
offices                     0.775609  1.000000     0.979961
log reviews                 0.753339  0.979961     1.000000

In [11]:
our_df2['rating_overall'].mean()

3.362166128875603

In [12]:
ratings = our_df2.groupby(by=['company_name'])['rating_overall'].mean().reset_index().\
        sort_values(by=['rating_overall'], ascending=False)

ratings['rating_overall'].mean(), ratings['rating_overall'].std()

(3.3685409652880347, 0.4067365625466236)

In [13]:
our_df2['stress_post'].mean()

0.01286381835252474

In [14]:
stress_pct = our_df2.groupby(by=['company_name'])['stress_post'].mean().reset_index().\
        sort_values(by=['stress_post'], ascending=False)

stress_pct['stress_post'].min(), stress_pct['stress_post'].max()

(0.0, 0.1134020618556701)

In [15]:
stress_pct['stress_post'].mean(), stress_pct['stress_post'].std()

(0.01119030876545081, 0.012809984256834417)

In [16]:
industry_counts = our_df2.groupby(by=['GICSSector'])[['company_id', 'company_name']].nunique().reset_index().\
        sort_values(by=['company_id'], ascending=False).\
        rename(columns={'company_id':'number of reviews', 'company_name':'companies'})

print(industry_counts.to_latex(index=False))

\begin{tabular}{lrr}
\toprule
            GICSSector &  number of reviews &  companies \\
\midrule
Information Technology &              63198 &         52 \\
Consumer Discretionary &              62395 &         40 \\
            Financials &              49955 &         42 \\
           Health Care &              36308 &         41 \\
      Consumer Staples &              26471 &         28 \\
           Industrials &              24074 &         43 \\
Communication Services &              13842 &         13 \\
                Energy &               5510 &         20 \\
             Materials &               5269 &         21 \\
             Utilities &               3172 &         19 \\
           Real Estate &               2228 &         16 \\
\bottomrule
\end{tabular}

In [17]:
employee_st_counts = our_df2.groupby(by=['employee_title'])[['company_id']].count().reset_index().\
        sort_values(by=['company_id'], ascending=False)

print(employee_st_counts.head(15).to_latex(index=False))

\begin{tabular}{lr}
\toprule
                  employee\_title &  company\_id \\
\midrule
                 Sales Associate &        8266 \\
                         Manager &        4758 \\
               Software Engineer &        4419 \\
 Customer Service Representative &        4238 \\
                         Cashier &        3948 \\
                        Director &        2978 \\
                 Project Manager &        2445 \\
                  Senior Manager &        2287 \\
                   Store Manager &        2098 \\
        Senior Software Engineer &        2090 \\
                       Associate &        2051 \\
               Assistant Manager &        2036 \\
             Pharmacy Technician &        1832 \\
                         Analyst &        1704 \\
                 Delivery Driver &        1681 \\
\bottomrule
\end{tabular}

In [18]:
employee_st_counts = our_df2.groupby(by=['employee_status'])[['company_id']].count().reset_index().\
        sort_values(by=['company_id'], ascending=False)

print(employee_st_counts.head().to_latex(index=False))

\begin{tabular}{lr}
\toprule
   employee\_status &  company\_id \\
\midrule
 Current Employee  &      190876 \\
  Former Employee  &      146449 \\
    Former Intern  &        5207 \\
Former Contractor  &        3380 \\
   Current Intern  &        2858 \\
\bottomrule
\end{tabular}

In [39]:
df = pd.read_csv("../data/ALL_companies_reviews.csv")

/opt/anaconda3/envs/ana/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [40]:
len(df)

713018